:root {
  /*! +++++++++++++++++++++++++++++++
  /*? CUSTOM PROPERTIES
  /*! ++++++++++++++++++++++++++++ */

  /*? [x]: 
  /*! logo color  */
  --brand-logo-color: #4d5ae5;

  /* todo:
  /** headings, text & link colors  */
  --body-text-color: #434455;
  --header-text-color: #2e2f42;
  --footer-text-color: #f4f4fd;
  --main-titles-color: #ffffff;
  --headings-color: #2e2f42;
  --links-color: #2e2f42;
  --links-color-hover: #404bbf;

  /*  todo:
  /** backgroud colors  */
  --hero-bg-color: #2e2f42;
  --footer-bg-color: #2e2f42;
  --team-bg-color: #f4f4fd;
  --team-item-bg-color: #ffffff;
  --portfolio-project-item-bg-color: #ffffff;

  /*  todo:
  /** button colors : text, bg & borders */
  --main-btn-font-color: #ffffff;
  --studio-btn-bg-color: #4d5ae5;
  --studio-btn-bg-color-hover: #404bbf;
  --portfolio-btn-font-color: #4d5ae5;
  --portfolio-btn-bg-color: #f4f4fd;
  --portfolio-btn-bg-color-hover: #404bbf;
  --portfolio-item-border-color: #e7e9fc;
}

/*! +++++++++++++++++++++++++++++++
/*? COMMON PROPERTIES
/*! ++++++++++++++++++++++++++++ */

body {
  color: var(--body-text-color);
  font-family: "Roboto", sans-serif;
}

/* todo: reset default browser styles
? smth like normalize.css */
*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/* todo: to hide title elements
? css trick */

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.section {
  padding: 120px 0;
}
.container {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
}
.logo {
  display: inline-block;
  color: var(--brand-logo-color);
}
.btn {
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  height: 56px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  min-width: 169px;
  padding: 16px 32px;
}

/* todo: titels
! refact [those classes have got the same properties] */
.features-item-title,
.team-item-title,
.projects-item-title {
  color: var(--headings-color);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

/* todo: link & text
! refact [those classes have got the same properties] */
.address-link,
.features-item-text,
.team-item-text,
.project-item-text,
.footer-text {
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/*! +++++++++++++++++++++++++++++++
/*? HEADER
/*! ++++++++++++++++++++++++++++ */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/*? todo: Navigation */

.nav {
  align-items: center;
  display: flex;
}

/* todo: logo
! refact [.footer-logo has the same properies] */

.nav-logo,
.footer-logo {
  display: block;
  padding: 24px 0;
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.03em;
  line-height: 1.17px;
  text-transform: uppercase;
}
.nav-logo {
  margin-right: 76px;
  color: var(--header-text-color);
}
.nav-link {
  color: var(--links-color);
  display: block;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--links-color-hover);
}
.nav-list {
  display: flex;
  gap: 40px;
}

/*? todo: Address */

.address {
  margin-left: auto;
}
.address-list {
  display: flex;
  font-style: normal;
  gap: 40px;
}
.address-link {
  display: block;
  padding: 24px 0;
  color: var(--body-text-color);
}

/*! +++++++++++++++++++++++++++++++
/** STUDIO PAGE
/*! -------------------------------
/*? MAIN
/*! ++++++++++++++++++++++++++++ */

/*? TODO:
/********** Hero section *********/

.hero {
  background-color: var(--hero-bg-color);
  padding: 188px 0;
}
.hero-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.hero-title {
  color: var(--main-titles-color);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.07;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-btn {
  border: none;
  background-color: var(--studio-btn-bg-color);
  color: var(--main-btn-font-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--studio-btn-bg-color-hover);
}

/*? TODO:
/****** Features section *******/

.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 3 * 24px) / 4);
}
.features-item-title {
  margin-bottom: 8px;
}

/*? TODO:
/***** About section *****/

.about-container {
  display: flex;
  flex-direction: column;
}

/* todo: refact
! [.team-title has the same properies] */

.about-title,
.team-title {
  color: var(--headings-color);
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
}
.about-list {
  display: flex;
  gap: 24px;
}

/*? TODO:
/***** Team section *****/

.team {
  background-color: var(--team-bg-color);
}
.team-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.team-item {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: var(--team-item-bg-color);
  text-align: center;
}
.team-item-desc {
  padding: 32px 16px;
}
.team-item-title {
  margin-bottom: 8px;
}

/*! +++++++++++++++++++++++++++++++
/*? FOOTER
/*! ++++++++++++++++++++++++++++ */

.footer {
  padding: 100px 0;
  background-color: var(--footer-bg-color);
}
.footer .container {
  display: block;
}
.footer-logo,
.footer-text {
  color: var(--footer-text-color);
}
.footer-logo {
  display: inline-block;
}
.footer-text {
  max-width: 264px;
}

/*! +++++++++++++++++++++++++++++++
/** PORTFOLIO PAGE
/*! -------------------------------
/*? MAIN
/*! ++++++++++++++++++++++++++++ */

/*? TODO:
/******* Projects sections *******/

.projects {
  padding-top: 96px 0 120px 0;
}
.projects-container {
  flex-direction: column;
}
.projects-btn-container {
  justify-content: center;
}

/*? todo: Buttons */

.projects-btn-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 72px 0;
}
.projects-btn {
  min-width: auto;
  padding: 12px 24px;
  border-radius: 4px;
  background-color: var(--portfolio-btn-bg-color);
  border: 1px solid var(--portfolio-item-border-color);
  color: var(--portfolio-btn-font-color);
}
.projects-btn:hover,
.projects-btn:focus {
  border: 1px solid transparent;
  background-color: var(--portfolio-btn-bg-color-hover);
  color: var(--main-btn-font-color);
}

/*? todo: Cards */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.projects-list-item {
  border-top: none;
  width: calc((100% - 48px) / 3);
  background-color: var(--portfolio-project-item-bg-color);
  color: var(--body-text-color);
  margin-left: 0;
}
.projects-item-desc {
  border: 1px solid var(--portfolio-item-border-color);
  padding: 32px 16px;
  color: var(--body-text-color);
}
.projects-item-title {
  margin-bottom: 8px;
}
